In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.master("local[1]") \
                    .appName("My ETL") \
                    .config("spark.jars.packages", "com.microsoft.sqlserver:mssql-jdbc:12.4.2.jre11") \
                    .config("spark.jars", "/opt/spark/jars/postgresql-42.5.2.jar") \
                    .getOrCreate()

print("Spark Version: "+ spark.version)
print("Spark App Name: "+ spark.sparkContext.appName)

Spark Version: 3.4.0
Spark App Name: My ETL

Read SQL Server Table to PySpark DataFrame

In [9]:
server_name = "mssql-server"
database_name = "AdventureWorksDW2022"
username = "SA"
password = "StrongPassw0rd123"
jdbc_url = f"jdbc:sqlserver://{server_name}:1433;database={database_name};user={username};password={password};trustServerCertificate=true;"

print("JDBC URL: " + jdbc_url)

JDBC URL: jdbc:sqlserver://mssql-server:1433;database=AdventureWorksDW2022;user=SA;password=StrongPassw0rd123;trustServerCertificate=true;

In [11]:
sql_query = """select * from dbo.DimCustomer"""

df = spark.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("query", sql_query) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()

print(f"Total rows: {df.count()}")
df.show(5, truncate=False)
df.printSchema()

Total rows: 18484
+-----------+------------+--------------------+-----+---------+----------+--------+---------+----------+-------------+------+------+------------------------------+------------+-------------+--------------------+----------------+----------------+---------------+-----------------+-----------------+----------------+--------------+---------------+-------------------+------------+-------------------+-----------------+---------------+
|CustomerKey|GeographyKey|CustomerAlternateKey|Title|FirstName|MiddleName|LastName|NameStyle|BirthDate |MaritalStatus|Suffix|Gender|EmailAddress                  |YearlyIncome|TotalChildren|NumberChildrenAtHome|EnglishEducation|SpanishEducation|FrenchEducation|EnglishOccupation|SpanishOccupation|FrenchOccupation|HouseOwnerFlag|NumberCarsOwned|AddressLine1       |AddressLine2|Phone              |DateFirstPurchase|CommuteDistance|
+-----------+------------+--------------------+-----+---------+----------+--------+---------+----------+-------------+------+------+------------------------------+------------+-------------+--------------------+----------------+----------------+---------------+-----------------+-----------------+----------------+--------------+---------------+-------------------+------------+-------------------+-----------------+---------------+
|11000      |26          |AW00011000          |null |Jon      |V         |Yang    |false    |1971-10-06|M            |null  |M     |jon24@adventure-works.com     |90000.0000  |2            |0                   |Bachelors       |Licenciatura    |Bac + 4        |Professional     |Profesional      |Cadre           |1             |0              |3761 N. 14th St    |null        |1 (11) 500 555-0162|2011-01-19       |1-2 Miles      |
|11001      |37          |AW00011001          |null |Eugene   |L         |Huang   |false    |1976-05-10|S            |null  |M     |eugene10@adventure-works.com  |60000.0000  |3            |3                   |Bachelors       |Licenciatura    |Bac + 4        |Professional     |Profesional      |Cadre           |0             |1              |2243 W St.         |null        |1 (11) 500 555-0110|2011-01-15       |0-1 Miles      |
|11002      |31          |AW00011002          |null |Ruben    |null      |Torres  |false    |1971-02-09|M            |null  |M     |ruben35@adventure-works.com   |60000.0000  |3            |3                   |Bachelors       |Licenciatura    |Bac + 4        |Professional     |Profesional      |Cadre           |1             |1              |5844 Linden Land   |null        |1 (11) 500 555-0184|2011-01-07       |2-5 Miles      |
|11003      |11          |AW00011003          |null |Christy  |null      |Zhu     |false    |1973-08-14|S            |null  |F     |christy12@adventure-works.com |70000.0000  |0            |0                   |Bachelors       |Licenciatura    |Bac + 4        |Professional     |Profesional      |Cadre           |0             |1              |1825 Village Pl.   |null        |1 (11) 500 555-0162|2010-12-29       |5-10 Miles     |
|11004      |19          |AW00011004          |null |Elizabeth|null      |Johnson |false    |1979-08-05|S            |null  |F     |elizabeth5@adventure-works.com|80000.0000  |5            |5                   |Bachelors       |Licenciatura    |Bac + 4        |Professional     |Profesional      |Cadre           |1             |4              |7553 Harness Circle|null        |1 (11) 500 555-0131|2011-01-23       |1-2 Miles      |
+-----------+------------+--------------------+-----+---------+----------+--------+---------+----------+-------------+------+------+------------------------------+------------+-------------+--------------------+----------------+----------------+---------------+-----------------+-----------------+----------------+--------------+---------------+-------------------+------------+-------------------+-----------------+---------------+
only showing top 5 rows

root
 |-- CustomerKey: integer (nullable = true)
 |-- GeographyKey: integer (nullable = true)
 |-- CustomerAlternateKey: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- NameStyle: boolean (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- YearlyIncome: decimal(19,4) (nullable = true)
 |-- TotalChildren: integer (nullable = true)
 |-- NumberChildrenAtHome: integer (nullable = true)
 |-- EnglishEducation: string (nullable = true)
 |-- SpanishEducation: string (nullable = true)
 |-- FrenchEducation: string (nullable = true)
 |-- EnglishOccupation: string (nullable = true)
 |-- SpanishOccupation: string (nullable = true)
 |-- FrenchOccupation: string (nullable = true)
 |-- HouseOwnerFlag: string (nullable = true)
 |-- NumberCarsOwned: integer (nullable = true)
 |-- AddressLine1: string (nullable = true)
 |-- AddressLine2: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- DateFirstPurchase: date (nullable = true)
 |-- CommuteDistance: string (nullable = true)